<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837347252903-q4h37ohbe0pehhttgspe1478gppp37gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837347252903-q4h37ohbe0pehhttgspe1478gppp37gs</string>
	<key>API_KEY</key>
	<string>AIzaSyClIXK9qjF0tH1f5njhwY5K6IGn2yzbE5U</string>
	<key>GCM_SENDER_ID</key>
	<string>837347252903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelCompanion</string>
	<key>PROJECT_ID</key>
	<string>travel-companion-804ec</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-companion-804ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837347252903:ios:9b944a4fbe9be9f0c01982</string>
</dict>
</plist>